$hotelswidth: 568px;

@font-face {
	font-family: "PT Sans";
	font-weight: 400;
	font-style: normal;
	src: local("PT Sans"), local("PTSans-Regular"),
	url("../fonts/ptsans.woff2") format("woff2"),
	url("../fonts/ptsans.woff") format("woff");
}

@font-face {
	font-family: "PT Sans";
	font-weight: 700;
	font-style: normal;
	src: local("PT Sans Bold"), local("PTSans-Bold"),
	url("../fonts/ptsansbold.woff2") format("woff2"),
	url("../fonts/ptsansbold.woff") format("woff");
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;
	background-color: #f2f2f2;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	max-width: 1200px;
	min-width: 768px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 5px 15px rgba(0, 1, 1, .2)
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.nav-list {
	display: flex;
}

.nav-item {
	width: 20%;
	height: 56px;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-weight: 700;
		color: inherit;

		&:hover,
		&:focus {
			color: #81b3d2;
		}

		&:active {
			color: rgba(0, 0, 0, .3);
		}
	}
	
	.active {
		color: #766357;
	}
}

.nav-item-logo {
	line-height: 0;

	.page-header-logo {
		height: 70px;
	}
}

.promo {
	width: 100%;
	height: 508px;
	margin-bottom: 61px;
	padding-top: 76px;
	background: 
		url(../img/promo-layer.png) center bottom no-repeat, 
		#d5e3ec url(../img/bg-sedona.jpg) center 28% no-repeat;
	background-size: 100% auto, cover;

	img {
		display: block;
		margin: 0 auto;
	}
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
}

.advantages-title {
	margin: 0;
	margin-bottom: 27px;
	text-align: center;
	font-size: 21px;
	font-weight: 700;
}

.advantages-desc {
	margin: 0;
	margin-bottom: 50px;
	text-align: center;
	color: #333;
}

.advantage-item {
	width: calc(100%/3);
	min-height: 256px;
	padding: 47px 5% 10px;
	text-align: center;
}

.advantage-town-item {
	position: relative;
	width: calc(100%/3);
	min-height: 330px;
	padding: 161px 5% 10px;
	text-align: center;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		-webkit-transform: translate(-50%);
				transform: translate(-50%);
	}

	.advantage-item-title {
		margin-bottom: 24px;
	}
}

.advantage-housing::before {
	top: 60px;
	width: 75px;
	height: 72px;
	background: url(../img/icon-housing.svg) no-repeat;
}

.advantage-food::before {
	top: 61px;
	width: 74px;
	height: 70px;
	background: url(../img/icon-food.svg) no-repeat;
}

.advantage-souvenirs::before {
	top: 56px;
	width: 64px;
	height: 76px;
	background: url(../img/icon-souvenirs.svg) no-repeat;
}

.advantage-item-title {
	margin: 0 12% 20px;
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
}

.advantage-item-number {
	margin: 0;
	margin-bottom: 20px;
	color: #333;
}

.advantage-item-desc {
	margin: 0;
	color: #333;
	line-height: 21px;
}

.advantage-item:nth-child(1),
.advantage-item:nth-child(5) {
	display: flex;
	width: 100%;
	padding: 0;
	
	.wrapper {
		width: calc(100% / 3);
		padding: 47px 5% 10px;
		background-color: #81b3d2;
	}

	.advantage-item-title,
	.advantage-item-number,
	.advantage-item-desc {
		color: #fff;
	}

	.advantage-item-img {
		width: calc(100% / 3 * 2);
	}
}

.advantage-item:nth-child(1) .advantage-item-img {
	background: #aa8a7d url(../img/town.jpg) center no-repeat;
	background-size: cover;
}

.advantage-item:nth-child(5) .advantage-item-img {
	background: #e2b29c url(../img/bridge.jpg) center no-repeat;
	background-size: cover;
}

.advantages-town-list {
	width: 100%;
}

.advantage-item:nth-last-child(-n+3) {
	background-color: #eee;
}

.btn {
	display: inline-block;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border: none;
}


.hotels {
	text-align: center;
}

.hotels-title {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}

.hotels-desc {
	line-height: 24px;
}

.hotels-btn {
	width: $hotelswidth;
	padding: 31px 0;
	background-color: #766357;
	transition: background-color .3s;

	&:hover,
	&:focus {
		background-color: #604e43;
	}

	&:active {
		color: rgba(255, 255, 255, .3);
		background-color: #503e33;
	}
}

.container-form-hotels {
	position: relative;
	margin: 0 auto;
	width: $hotelswidth;
}

.form-hotels {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	overflow: hidden;
	padding: 0 55px;
	background-color: #fff;
	box-shadow: 0 7px 15px rgba(0, 1, 1, .15);
	transition: 0.4s;

	.submit-btn {
		width: 100%;
		padding: 17px 0;
		background-color: #81b3d2;

		&:hover,
		&:focus {
			background-color: #669ec0;
		}

		&:active {
			color: rgba(255, 255, 255, .3);
			background-color: #5496bd;
		}
	}
}

.form-hotels.active {
	padding: 55px;
	height: 395px;
}

.form-hotels-group {
	display: flex;
	margin: 0;
	margin-bottom: 30px;
	font-weight: 700;

	&:last-of-type {
		margin-bottom: 54px;
	}

	label {
		width: 112px;
		padding: 5px 0;
		font-size: 14px;
		text-align: left;
		vertical-align: middle;
	}

	input {
		flex-grow: 1;
		padding: 5px 13px;
		font-size: 14px;
		font-weight: 700;
		line-height: 26px;
		text-transform: uppercase;
		background-color: #f2f2f2;
		border: none;

		&:hover {
			background-color: #ebebeb;
		}

		&:focus {
			outline: 2px solid #e5e5e5;
			background-color: #fff;
		}
	}

	input[type="number"] {
		width: 114px;
		text-align: center;
	}

	label[for="children-field"] {
		padding-right: 27px;
		text-align: right;
	}
}

.map {
	max-width: 100%;
	height: auto;
}



